.header-nav {
	margin-bottom: 2rem;
	.navbar-nav .nav-link {
		color: rgba(0, 0, 0, 0.75);
		font-size: 1.2rem;
		font-weight: 375;
		&.active {
			font-weight: 600;
		}
	}
}

.app-logo {
	max-height: 4.5rem;
	max-width: 50%;
}
